* {
    margin: 0;
    box-sizing: border-box;
}

.content {
    width: 100%;
    text-align: center;

    #reset {
        margin: 30px 0;
    }
}

.container {
    
    display: grid;
    margin: auto;

    .box {
        border: 1px solid black;
        border-right: 0;
        border-bottom: 0;
    }
    .lastColumn {
        border-right: 1px solid black;
    }
    .lastRow {
        border-bottom: 1px solid black;
    }
}